@model tl2_tp6_2024_OgaitnaSZ.Models.Producto;
<div class="d-flex flex-column justify-content-center align-items-center">
    <p>Esta seguro que desea eliminar el producto <strong>@Model.Descripcion</strong>?</p>
    <div class="d-flex flex-row">
        <a class="btn btn-success me-3" asp-area="" asp-controller="Productos" asp-action="Eliminar" asp-route-id="@Model.IdProducto">Aceptar</a>
        <a class="btn btn-danger" asp-area="" asp-controller="Productos" asp-action="ListarProductos">Cancelar</a>
    </div>
</div>