@model tl2_tp6_2024_OgaitnaSZ.Models.Producto;
<div class="container">
    <p>Esta seguro que desea eliminar el producto <strong>@Model.Descripcion</strong>?</p>
    <a class="btn btn-success" asp-area="" asp-controller="Productos" asp-action="Eliminar" asp-route-id="@Model.IdProducto">Aceptar</a>
    <a class="btn btn-danger" asp-area="" asp-controller="Productos" asp-action="ListarProductos">Cancelar</a>
</div>