@model List<Producto>

<div class="text-center">
    <h1 class="display-4">Productos</h1>
    <a class="btn btn-success" asp-area="" asp-controller="Productos" asp-action="CrearProducto">Agregar Producto</a>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Descripcion</th>
                <th scope="col">Precio</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var producto in Model){
                <tr>
                    <td>@producto.Descripcion</td>
                    <td>@producto.Precio</td>
                    <td><a asp-area="" asp-controller="Productos" asp-action="EditarProducto" asp-route-id="@producto.IdProducto">Editar</a></td>
                    <td><a asp-area="" asp-controller="Productos" asp-action="EliminarProducto" asp-route-id="@producto.IdProducto">Eliminar</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
