<form asp-action="Crear" asp-controller="Presupuestos" method="post">
  <div class="form-group">
    <label for="nombreDestinario">Nombre del Destinario</label>
    <input type="text" name="NombreDestinario" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Crear Presupuesto</button>
</form>